<div class="container">
  <h2>Upload some tests to help out the homies!</h2>

  <form action='/universities/<%= @university_id %>/<%= @course_id %>' method="post" enctype="multipart/form-data">
    <div>
      <label>File:</label>
      <input type="file" name="uploaded_file">
    </div>
    <div>
      <button type="submit">Upload!</button>
    </div>
  </form>

</div>

<div>
  <% @course.notes.each do |note| %>
    <div id='test'><img src='<%= note.file.url %>'/></div>
    <div id='test'><a href='/universities/<%=@university_id%>/<%=@course_id%>' id='btn'>Upvote!</a><div>
  <% end %>
</div>
