<h1><%= @university.name %></h1>
<% @school_id= @university.id %>



<a href ='/course/<%=@school_id%>'>Add a new course!</a>


<% Course.where(University_id: @school_id).each do |course| %>
  <a href = '/universities/<%=@school_id%>/<%=course.id%>'><%= course.course_name  %></a>
<% end %>

<br>
